<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= user.position %>
  </p>

  <p>
    <strong>Mobile no:</strong>
    <%= user.mobile_no %>
  </p>

</div>
