<tr>
  <td><%= document.document_type %></td>
  <td><%= document.employee_id %></td>
  <td><%= document.user.name %></td>
  <td>
    <%= link_to generate_pdf_document_path(document, format: :pdf) do %>
      <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBmY1HEr3yq0hzsiu9tvMvbZbjXePTgEbzrjwdpTmR-HYCUD-aIxzapel0HGuHlF6j3WA&usqp=CAU", size: '30x30' %>
    <% end %>
  </td>
  <td>
    <%= link_to edit_document_path(document), class: "link-body-emphasis" do %>
      <%= image_tag "https://cdns.iconmonstr.com/wp-content/releases/preview/2012/240/iconmonstr-pencil-14.png", size: '23x23' %>
    <% end %>
  </td>
  <td>
   <%= button_to document_path(document), method: :delete, class: "delete-button", data: { confirm: "Are you sure?" } do %>
    <%= image_tag "https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/trash-512.png", size: '22x22' %>
   <% end %>
  </td>
</tr>
