<% if flash[:alert] %>
  <div class="alert alert-warning">
    <%= flash[:alert] %>
  </div>
<% end %>
<div class="container mt-4">
  <%= form_with(model: document, local: true, class: "needs-validation") do |form| %>
    <% if document.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h4>
        <ul>
          <% document.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="d-flex justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">

        <div class="mb-3">
          <%= form.label :organization_name, class: "form-label" %>
          <%= form.text_field :organization_name, value: 'Technomatz IT Solutions Private Limited', class: "form-control form-control-sm" %>
        </div>

        <div class="mb-3">
          <%= form.label :document_type, class: "form-label" %>
          <%= form.select :document_type,
            options_for_select([
              ['Relieving Letter', 'relieving_letter'],
              ['Experience Letter', 'experience_letter'],
              ['Appointment Letter', 'appointment_letter'],
              ['Offer Letter', 'offer_letter'],
              ['Payslip', 'payslip']
            ]),
            { prompt: 'Select Document Type', required: true },
            class: "form-select", id: "document_type" %>
        </div>


        <div class="mb-3" id="for_start_position" style="display: none;">
          <%= form.label :start_position, class: "form-label" %>
          <%= form.text_field :start_position, class: "form-control form-control-sm" %>
        </div>

        <div class="mb-3" id="for_end_position" style="display: none;">
          <%= form.label :end_position, class: "form-label" %>
          <%= form.text_field :end_position, class: "form-control form-control-sm" %>
        </div>

        <div class="mb-3" id="for_start_date" style="display: none;">
          <%= form.label :start_date, class: "form-label" %>
          <%= form.date_field :start_date, class: "form-control form-control-sm" %>
        </div>

        <div class="mb-3" id="for_end_date" style="display: none;">
          <%= form.label :end_date, class: "form-label" %>
          <%= form.date_field :end_date, class: "form-control form-control-sm" %>
        </div>

        <div class="mb-3" id="for_ctc" style="display: none;">
          <%= form.label :ctc, class: "form-label" %>
          <%= form.text_field :ctc, class: "form-control form-control-sm", placeholder: "Please enter salary (CTC) in rupees" %>
        </div>

        <div id="payslip-fields" style="display: none;">
          <div class="mb-3">
            <%= form.label :company_address, class: "form-label" %>
            <%= form.text_field :company_address, value: 'PU4', class: "form-control form-control-sm" %>
          </div>

          <div class="mb-3">
            <%= form.label :city, class: "form-label" %>
            <%= form.text_field :city, value: 'Indore', class: "form-control form-control-sm" %>
          </div>

          <div class="mb-3">
            <%= form.label :pincode, class: "form-label" %>
            <%= form.text_field :pincode, value: '452001', class: "form-control form-control-sm" %>
          </div>

          <div class="mb-3">
            <%= form.label :country, class: "form-label" %>
            <%= form.text_field :country, value: 'India', class: "form-control form-control-sm" %>
          </div>

          <%= render "payslip_form", form: form %>
        </div>

        <div id="appointment_letter_fields" class="conditional-fields" style="display: none;">
          <div class="mb-3">
            <%= form.label :hr_name, "HR Name" , class: "form-label" %>
            <%= form.text_field :hr_name, value: 'Shreya Goyal', class: "form-control form-control-sm" %>
          </div>
          <div class="mb-3">
            <%= form.label :work_timings, class: "form-label" %>
            <%= form.number_field :work_timings, class: "form-control form-control-sm", placeholder: "Please enter work time in hours" %>
          </div>
          <div class="mb-3">
            <%= form.label :probation_period, class: "form-label" %>
            <%= form.number_field :probation_period, class: "form-control form-control-sm", placeholder: "Please enter probation period in months" %>
          </div>
          <div class="mb-3">
            <%= form.label :service_agreement, class: "form-label" %>
            <%= form.number_field :service_agreement, class: "form-control form-control-sm", placeholder: "Please enter service agreement in years" %>
          </div>
          <div class="mb-3">
            <%= form.label :annual_leave, class: "form-label" %>
            <%= form.number_field :annual_leave, class: "form-control form-control-sm", placeholder: "Please enter annual leave in days", min: 0 %>
          </div>
          <div class="mb-3">
            <%= form.label :notice_period, class: "form-label" %>
            <%= form.number_field :notice_period, class: "form-control form-control-sm", placeholder: "Please enter notice period in days" %>
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :employee_id, "Employee ID", class: "form-label" %>
          <%= form.text_field :employee_id, class: "form-control form-control-sm" %>
        </div>

        <fieldset class="border p-3 mb-3">
          <legend class="col-form-label">User Information</legend>

          <div class="form-check mb-2">
            <%= form.radio_button :user_option, 'existing', checked: true, class: "form-check-input", id: 'user_option_existing' %>
            <%= form.label :user_option_existing, "Select Existing User", class: "form-check-label" %>
            <%= form.collection_select :user_id, User.all, :id, :name, { prompt: "Select a User" }, { id: 'document_user_id', class: "form-select form-select-sm" } %>
          </div>

          <div class="form-check mb-2">
            <%= form.radio_button :user_option, 'new', class: "form-check-input", id: 'user_option_new' %>
            <%= form.label :user_option_new, "Create New User", class: "form-check-label" %>
          </div>

          <div id="new_user_fields" style="display: none;">
            <%= form.fields_for :user do |user_form| %>
              <div class="mb-3">
                <%= user_form.label :name, class: "form-label" %>
                <%= user_form.text_field :name, class: "form-control form-control-sm" %>
              </div>
              <div class="mb-3">
                <%= user_form.label :email, class: "form-label" %>
                <%= user_form.email_field :email, class: "form-control form-control-sm" %>
              </div>
            <% end %>
          </div>
        </fieldset>

        <div class="form-group text-center">
          <%= form.submit "Save", class: "btn btn-primary" %>
        </div>

      </div>
    </div>
  <% end %>
</div>
