<div class="mb-3" id="payslip" style="display: none;">
  <%= form.fields_for :payslip do |payslip_form| %>

    <div class="mb-3">
      <%= payslip_form.label :logo, "Logo" %><br>

      <% if payslip_form.object.logo.attached? %>
        <%= image_tag payslip_form.object.logo, size: "100x100" %>
      <% else %>
        <%= image_tag 'logo.png', size: "100x100" %>
      <% end %>

      <br><br>
      <%= payslip_form.file_field :logo %>
    </div>

    <td>
      <%= payslip_form.label :pay_slip_for_month, "Payslip For the Month", class: "form-label" %>
    </td>
    <td>
      <%= payslip_form.date_field :pay_slip_for_month, class: "form-control form-control-sm", placeholder: "Select Month and Year" %>
    </td>

    <div class="mb-3">
      <h5>Employee Pay Summary*</h5>
    </div>

    <table class="table">
      <tbody>
        <tr>
          <td>
            <%= payslip_form.label :paid_days, "Paid Days", class: "form-label" %>
          </td>
          <td>
            <%= payslip_form.text_field :paid_days, class: "form-control form-control-sm", placeholder: "Enter Paid Days" %>
          </td>
          <td><%= payslip_form.label :loss_of_pay_days, "Loss Of Pay Days", class: "form-label" %></td>
          <td>
            <%= payslip_form.text_field :loss_of_pay_days, class: "form-control form-control-sm", placeholder: "Enter Loss Of Pay Days" %>
          </td>
        </tr>

        <tr>
          <td><%= payslip_form.label :pay_date, "Pay Date", class: "form-label" %></td>
          <td>
            <%= payslip_form.date_field :pay_date, class: "form-control form-control-sm", placeholder: "Enter Pay Date" %>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="mb-3">
      <h5>Income Details*</h5>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Earnings</th>
          <th>Amount</th>
          <th>Deductions</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= payslip_form.label :basic_salary, "Basic Salary", class: "form-label" %></td>
          <td>
            <%= payslip_form.text_field :basic_salary, id: "basic-salary", class: "form-control form-control-sm", placeholder: "Enter Basic Salary" %>
          </td>

          <td><%= payslip_form.label :income_tax, "Income Tax", class: "form-label" %></td>
          <td>
            <%= payslip_form.text_field :income_tax, id: "income-tax", class: "form-control form-control-sm", placeholder: "Enter Income Tax" %>
          </td>
        </tr>

        <tr>
          <td><%= payslip_form.label :house_rent_allowance, "House Rent Allowance", class: "form-label" %></td>
          <td>
            <%= payslip_form.text_field :house_rent_allowance, id: "hra", class: "form-control form-control-sm", placeholder: "Enter HRA" %>
          </td>

          <td><%= payslip_form.label :other_allowance, "Other Allowance", class: "form-label" %></td>
          <td>
            <%= payslip_form.text_field :other_allowance, id: "oa", class: "form-control form-control-sm", placeholder: "Enter OA" %>
          </td>
        </tr>
        <tr>
          <td><%= payslip_form.label :provident_fund, "Provident Fund", class: "form-label" %></td>
          <td>
            <%= payslip_form.text_field :provident_fund, id: "provident-fund", class: "form-control form-control-sm", placeholder: "Enter Provident Fund" %>
          </td>
        </tr>

        <tr>
          <td><%= payslip_form.label :gross_earnings, "Gross Earnings", class: "form-label" %></td>
          <td>
            <%= payslip_form.text_field :gross_earnings, id: "gross-earnings", class: "form-control form-control-sm", placeholder: "Auto Calculated", readonly: true %>
          </td>

          <td><%= payslip_form.label :total_deductions, "Total Deductions", class: "form-label" %></td>
          <td>
            <%= payslip_form.text_field :total_deductions, id: "total-deductions", class: "form-control form-control-sm", placeholder: "Auto Calculated", readonly: true %>
          </td>
        </tr>

        <tr>
          <td><%= payslip_form.label :total_net_payable, "TOTAL NET PAYABLE", class: "form-label" %></td>
          <td>
            <%= payslip_form.text_field :total_net_payable, id: "net-payable", class: "form-control form-control-sm", placeholder: "Auto Calculated", readonly: true %>
          </td>
        </tr>
      </tbody>
    </table>

  <% end %>
</div>
